---
import Container from "@/components/atoms/Container.astro";
import Background from "@/components/atoms/General/Background.astro";
import Footer from "@/components/organisms/Footer.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="CELIG - Testimonios">
  <Background />
  <Container>
    <p class="col-start-1 col-span-4 min-h-[100vh]">Testimonios</p>
  </Container>

  <Footer />
</Layout>
