---
export const prerender = true;

import Container from "../atoms/Container.astro";
import SectionTitle from "../atoms/SectionTitle.astro";
import ContenidoNavBar from "../molecules/ContenidoNavBar.astro";
import ContenidoBlogs from "../organisms/ContenidoBlogs.astro";
import ContenidoGaleria from "../organisms/ContenidoGaleria.astro";
import ContenidoPodcasts from "../organisms/ContenidoPodcasts.astro";
import Footer from "../organisms/Footer.astro";
---

<section class="pt-24 space-y-[50px]">
  <Container fullWidth={false} customClass="space-y-[-50px] md:space-y-[-80px]">
    <SectionTitle
      title="Nuestro"
      customClass="col-start-1 col-span-4 title-animation"
    />
    <SectionTitle
      title="Contenido"
      serif={true}
      customClass="col-start-2 col-span-3"
    />
  </Container>

  <ContenidoNavBar />
  <div class="content-container col-start-1 col-span-4">
    <ContenidoBlogs />
    <ContenidoPodcasts />
    <ContenidoGaleria />
  </div>

  <Footer />
</section>
