---
const { fullWidth, customClass } = Astro.props;
---

<div
  class={`grid gap-[20px] grid-cols-4 md:grid-cols-8 xl:grid-cols-12 ${customClass} ${
    !fullWidth
      ? "max-w-[1920px] max-w-screen-4xl md:px-[40px] px-[20px] lg:[80px]"
      : "w-full"
  }`}
>
  <slot />
</div>
