---
const { title1Sans, title1Serif } = Astro.props;
---

<h3 class="roblight text-[36px] md:text-[48px] tracking-[-3px]">
  {title1Sans}<span class="rosdcel tracking-[-1px]">{title1Serif}</span>
</h3>
