---
const { numCol } = Astro.props;
---

<div
  class=`${numCol} relative h-full pt-[10em] pr-[2em] pb-[2em] pl-[2em] flex
  flex-col justify-between items-end ${numCol === 'col-2' ? 'flex-[2]' : 'flex-[1]'}`
>
  <slot />
</div>
