---
const { title, serif, customClass } = Astro.props;
---

<h2
  class={`${serif ? "rosdcel !tracking-[-2px]" : "roblight !tracking-[-5px]"} 
  text-[48px] md:text-[96px] uppercase  ${customClass}`}
>
  {title}
</h2>
