---
const { text } = Astro.props;
---

<h1
  class="col-start-1 col-span-4 md:col-span-8 xl:col-span-12 uppercase montreg text-[32px] md:text-[48px] xl:text-[64px] text-center leading-[50px] xl:leading-[70px] mb-4"
>
  {text}
</h1>
