---
import { WhatsApp as WhatsAppIcon } from "../icons/WhatsApp";
---

<div
  class="p-3 rounded-full bg-green-500 w-fit fixed bottom-4 right-4 cursor-pointer hover:scale-110 transition-all hover:rotate-12"
>
  <a
    href="https://api.whatsapp.com/send/?phone=50683346441&text&type=phone_number&app_absent=0"
  >
    <WhatsAppIcon />
  </a>
</div>
