---
const { title, content } = Astro.props;
---

<div class="col-start-1 col-span-4 md:col-span-8">
  <h3 class="uppercase mb-[10px] rosdcel text-[28px] md:text-[36px]">
    {title}
  </h3>
  {content ? <p>{content}</p> : <slot />}
</div>
