---
const { right, images } = Astro.props;
---

<div class="relative overflow-hidden h-[250px]">
  <div
    class={`absolute top-0 flex gap-[100px] transition-transform duration-500
    ${right ? "right-[-80%]" : "left-[-80%]"}`}
  >
    {
      images.map((src: string) => (
        <img
          src={src}
          alt={src}
          class="h-[250px] w-[250px] min-w-[250px] object-cover shrink-0"
        />
      ))
    }
  </div>
</div>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/all";

  gsap.registerPlugin(ScrollTrigger);

  const leftSlider = document.querySelector(".slider-left");
  const rightSlider = document.querySelector(".slider-right");
  const sectionContent = document.querySelector(".content-section");

  // const tl = gsap.timeline({
  //   scrollTrigger: {
  //     trigger: sectionContent,
  //     start: "top top",
  //     end: "+=1000",
  //     scrub: true,
  //     markers: true,
  //     pin: true,
  //   },
  // });
</script>
