---
import CleanLogo from "../atoms/CleanLogo.astro";
import Container from "../atoms/Container.astro";
import MenuBar from "../atoms/MenuBar.astro";
import NavSocial from "../atoms/NavSocial.astro";

const links = [
  { label: "Contenido", href: "/contenido" },
  { label: "Servicios", href: "./#servicios" },
  { label: "Testimonios", href: "/testimonios" },
  { label: "Contacto", href: "../#contacto" },
];

const socials = [
  { label: "Facebook", href: "" },
  { label: "Instagram", href: "" },
  { label: "Tik Tok", href: "" },
  { label: "Spotify", href: "" },
  { label: "LinkedIn", href: "" },
];

const directions = [
  "Edificio SIGMA",
  "Segundo piso San Pedro",
  "Montes de Oca",
  "Costado Oeste del Mall San Pedro",
];
---

<div
  class={`fixed top-2 right-2 w-[120px] h-[60px] bg-black rounded-[1000px] origin-right cursor-pointer z-[100]
menu-toggle closed `}
>
  <div class={`menu-toggle-icon`}>
    <div class={`hamburger`}>
      <MenuBar position="top" />
      <MenuBar position="bottom" />
    </div>
  </div>

  <div
    class={`absolute top-[50%] left-[30px] translate-y-[-50%] text-white z-index-[1]
  
  menu-copy`}
  >
    <p class="uppercase m-0 p-0 rosdnl text-[16px]">Menu</p>
  </div>
</div>

<div class="fixed top-2 left-2 isolate logo-text-bar z-50">
  <div class="flex gap-2 items-center col-start-1 col-span-3">
    <CleanLogo width="w-[45px]" />
  </div>
</div>

<div
  class="fixed top-2 left-14 isolate logo-text-bar z-50 text-white mix-blend-difference"
>
  <p class="text-[24px] font-bold montreg">CELIG</p>
</div>

<Container
  customClass="bg-black/95 fixed top-0 left-0 h-[100vh] w-[100vw] menu z-[10] pointer-events-none perspective-[1000px] text-white "
>
  <div class="col-start-1 col-span-3 pt-[50px] xl:pt-[150px]">
    {
      links.map((link) => (
        <div class="link relative translate-y-[30px] opacity-0">
          <a
            class="no-underline text-white text-[24px] md:text-[48px] xl:text-[96px] rosdcel"
            href={link.href}
          >
            {link.label}
          </a>
        </div>
      ))
    }
  </div>

  <div
    class="col-start-1 col-span-3 md:col-start-4 md:col-span-4 xl:col-start-6 xl:col-span-4 md:pt-[50px] xl:pt-[150px] socials space-y-[100px]"
  >
    <div class="flex justify-between">
      <div>
        {
          directions.map((dir) => (
            <p class="text-white translate-y-[30px] opacity-0 uppercase text-[12px] montreg">
              {dir}
            </p>
          ))
        }
      </div>
      <div>
        {socials.map((social) => <NavSocial {...social} />)}
      </div>
    </div>

    <div>
      <p
        class="text-white translate-y-[30px] opacity-0 uppercase text-[12px] mb-[30px] montreg"
      >
        info@celigcr.com
      </p>
      <p
        class="text-white translate-y-[30px] opacity-0 uppercase text-[12px] montreg"
      >
        +506 8334 6441
      </p>
      <p
        class="text-white translate-y-[30px] opacity-0 uppercase text-[12px] montreg"
      >
        +506 4001 6439
      </p>
    </div>
  </div>
</Container>

<script>
  import gsap from "gsap";
  import { CustomEase } from "gsap/all";

  gsap.registerPlugin(CustomEase);
  document.addEventListener("DOMContentLoaded", () => {
    gsap.registerPlugin(CustomEase);
    CustomEase.create(
      "hop",
      "M0,0 C0.354,0 0.464,0.133 0.498,0.502 0.532,0.872 0.651,1 1,1"
    );

    const landingPage = document.querySelector(".landing-section");
    const logoTextBar = document.querySelectorAll(".logo-text-bar");
    if (landingPage) {
      gsap.set([...logoTextBar], {
        opacity: 0,
      });

      gsap
        .timeline({
          scrollTrigger: {
            trigger: landingPage,
            // markers: true,
            start: "bottom top",
            end: "bottom+=300",
            scrub: true,
          },
        })
        .to([...logoTextBar], { opacity: 1 });
    }

    const menuToggle = document.querySelector(".menu-toggle");
    const menu = document.querySelector(".menu");
    const links = document.querySelectorAll(".link");
    const socialLinks = [
      ...document.querySelectorAll(".socials p"),
      ...document.querySelectorAll(".socials a"),
    ];

    let isAnimating = false;

    function splitTextIntoSpans(selector) {
      let elements = document.querySelectorAll(selector);
      elements.forEach((element) => {
        let text = element.innerText;
        let splitText = text
          .split("")
          .map(function (char) {
            return `<span>${char === " " ? "&nbsp;&nbsp;" : char}</span>`;
          })
          .join("");
        element.innerHTML = splitText;
      });
    }

    splitTextIntoSpans(".header h1");

    const openMenuAnimation = () => {
      document.querySelector("body")?.classList.add("overflow-hidden");
      menuToggle.classList.remove("closed");
      menuToggle.classList.add("opened");

      isAnimating = true;

      gsap.to(menu, {
        clipPath: "polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)",
        ease: "hop",
        duration: 1.5,
        onStart: () => {
          menu.style.pointerEvents = "all";
        },
        onComplete: () => {
          isAnimating = false;
        },
      });

      // Animate main links when opening
      gsap.to(links, {
        y: 0,
        opacity: 1,
        stagger: 0.1,
        delay: 0.85,
        duration: 1,
        ease: "power3.out",
      });

      // Animate social links when opening
      gsap.to(socialLinks, {
        y: 0,
        opacity: 1,
        stagger: 0.05,
        delay: 0.85,
        duration: 1,
        ease: "power3.out",
      });

      // Animate header text rotation
      gsap.to(".header h1 span", {
        rotateY: 0,
        stagger: 0.05,
        delay: 0.75,
        duration: 1.5,
        ease: "power4.out",
      });

      // Animate header text vertical movement
      gsap.to(".header h1 span", {
        y: 0,
        scale: 1,
        stagger: 0.05,
        delay: 0.5,
        duration: 1.5,
        ease: "power4.out",
      });
      return;
    };

    const closeMenuAnimation = () => {
      document.querySelector("body")?.classList.remove("overflow-hidden");
      menuToggle.classList.remove("opened");
      menuToggle.classList.add("closed");

      isAnimating = true;

      gsap.to(menu, {
        clipPath: "polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%)",
        ease: "hop",
        duration: 1.5,
        onComplete: () => {
          menu.style.pointerEvents = "none";
          gsap.set(menu, {
            clipPath: "polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%)",
          });

          gsap.set(links, { y: 30, opacity: 0 });
          gsap.set(socialLinks, { y: 30, opacity: 0 });

          gsap.set(".header h1 span", {
            y: 500,
            rotateY: 90,
            scale: 0.8,
          });

          isAnimating = false;
        },
      });
      return;
    };

    links.forEach((element) => {
      element.addEventListener("click", () => {
        closeMenuAnimation();
      });
    });

    menuToggle.addEventListener("click", () => {
      if (isAnimating) return;

      if (menuToggle.classList.contains("closed")) openMenuAnimation();
      else closeMenuAnimation();
    });
  });
</script>
