---
import Parragraph from "../atoms/Parragraph.astro";
import ProcesoTitle from "../atoms/ProcesoTitle.astro";

const { title, parragraph, index } = Astro.props;

const xlIndex = index * 2 + 1;
// const xlIndex = 5;
---

<div
  class={`col-start-1 col-span-4 border-b-[1px] pb-[50px] border-black inline-block md:col-span-7
  ${index % 2 && `md:col-start-2 `} ${index === 2 && "xl:col-start-5"} ${index === 0 && "xl:col-start-1"} 
  ${index === 1 && "xl:col-start-3"} ${index === 3 && "xl:col-start-7"} xl:col-span-6`}
>
  <ProcesoTitle index={index} title={title} />
  <Parragraph
    text={parragraph}
    customClass={`${index % 2 ? "text-right" : "text-left"} xl:text-left`}
  />
</div>
