---
import SmallParragraph from "../atoms/SmallParragraph.astro";

const { src, names, content, index } = Astro.props;
---

<div
  class={`relative col-start-1 col-span-4 md:col-span-8 md:w-[90%] md:mx-auto overflow-hidden h-[350px] md:h-[450px]
  xl:col-span-6 xl:w-[100%] ${index % 2 ? "xl:col-start-7" : ""} testimonial-animation
  `}
>
  <img
    {src}
    class="absolute z-[-1] brightness-35 h-full w-full object-cover bg-red-200 rounded-[10px]"
  />

  <SmallParragraph
    text={names}
    customClass="z-[5] text-white absolute top-[50%] translate-y-[-40%] px-2"
  />
  <SmallParragraph
    text={content}
    customClass="z-[5] text-white absolute bottom-4 left-0 px-2"
  />
</div>
