---
export const prerender = false;
import { blogApi } from "@/api";
import Container from "../atoms/Container.astro";
import ContenidoEtiquetas from "../molecules/ContenidoEtiquetas.astro";
import { SuscribeForm } from "./SuscribeForm";
import ContentNavBarButton from "../atoms/ContentNavBarButton.astro";
import { ContenidoBlogsReact } from "./ContenidoBlogsReact";

let blogs = [];
const response = await blogApi.getBlogsByTag("");
if (response.status === 200) blogs = response.body.blogs;
---

<Container customClass="content-container-blogs">
  <SuscribeForm client:only>
    <ContentNavBarButton
      tag={true}
      text="Suscribirse"
      customClass="!w-fit h-fit self-end !mx-0"
      type="submit"
    />
  </SuscribeForm>

  <div
    class="col-start-1 col-span-4 md:col-span-8 xl:col-span-12 space-y-[50px]"
  >
    <ContenidoEtiquetas />
    <ContenidoBlogsReact initialBlogs={blogs} client:load />
  </div>
</Container>

