---
import Container from "../atoms/Container.astro";
---

<Container customClass="content-container-galeria hidden opacity-0">
  <div class="col-start-1 col-span-4 min-h-[1700px] bg-red-500">
    <p>Galeria</p>
  </div>
</Container>
