---
import Container from "../atoms/Container.astro";
import Parragraph from "../atoms/Parragraph.astro";
import SectionTitle from "../atoms/SectionTitle.astro";
import Map from "../atoms/Map.astro";
import SmallParragraph from "../atoms/SmallParragraph.astro";
import ContactItem from "../molecules/ContactItem.astro";
import { ContactForm } from "./ContactForm.jsx";
import { Facebook, Instagram } from "lucide-react";
import { XTwitter } from "../icons/XTwitter";
import { Spotify } from "../icons/Spotify";
import { TikTok } from "../icons/TikTok";
---

<footer
  class="bg-black text-white space-y-[50px] py-[50px] overflow-hidden"
  id="contacto"
>
  <Container fullWidth={false} customClass="space-y-[-50px] md:space-y-[-80px]">
    <SectionTitle
      title="Estemos en"
      customClass="col-start-1 col-span-4 md:col-span-8"
    />
    <SectionTitle
      title="Contacto"
      serif={true}
      customClass="col-start-2 col-span-3 xl:col-start-3"
    />
  </Container>

  <Container customClass="space-y-[50px]">
    <ContactItem title="Email">
      <a href="mailto:info@celigcr.com"
        ><Parragraph text="info@celigcr.com" customClass="md:text-[20px]" /></a
      >
    </ContactItem>

    <ContactItem title="Numero" pair={true}>
      <Parragraph text="+506 8334 6441" customClass="md:text-[20px]" />
      <Parragraph text="+506 4001 6439" customClass="md:text-[20px]" />
    </ContactItem>

    <ContactItem title="Dirección">
      <Parragraph
        customClass="md:text-[20px]"
        text="Edificio SIGMA segundo Piso San Pedro de Montes de Oca, costado oeste del Mall San Pedro"
      />
    </ContactItem>

    <ContactItem title="Redes Sociales" customClass="flex gap-4">
      <div class="flex gap-4">
        <Facebook
          size={32}
          className="cursor-pointer hover:text-blue-500 transition-all ease-in"
        />
        <Instagram
          size="32"
          className="cursor-pointer hover:text-orange-300 transition-all ease-in"
        />
        <XTwitter />
        <Spotify />
        <TikTok />
      </div>
    </ContactItem>

    <div class="col-start-1 col-span-4 md:col-span-8 xl:hidden">
      <Map />
    </div>

    <div
      class="border-b-[1px] border-white col-start-1 col-span-4 md:col-span-8 xl:col-span-12"
    >
    </div>
  </Container>

  <Container>
    <ContactForm client:only>
      <button
        type="submit"
        class={`cursor-pointer py-3 px-6 rounded-[4px] border-[1px] border-white hover:bg-black hover:text-white bg-white
         text-black montreg text-[12px] md:text-[16px] float-end w-[150px] transition-all ease-in`}
      >
        Contáctanos
      </button>
    </ContactForm>

    <div class="hidden xl:flex col-start-7 col-span-6">
      <Map />
    </div>
  </Container>

  <Container customClass="">
    <div
      class="col-start-1 col-span-4 md:col-span-8 xl:col-span-12 border-t-[1px] border-white pt-[20px] flex justify-between mt-[30px]"
    >
      <SmallParragraph text="© 2025 Celig & LERQ" />
      <SmallParragraph text="Back to top" />
    </div>
  </Container>
</footer>
