---
import Container from "../atoms/Container.astro";
import SectionTitle from "../atoms/SectionTitle.astro";
import ProcesoItem from "../molecules/ProcesoItem.astro";

const processes = [
  {
    title: "Reservación y acompañamiento diario",
    parragraph: `Luego de reservar la fecha, gestionamos los trámites legales y mantenemos contacto diario 
    por WhatsApp para resolver dudas y acompañarlos en cada paso del proceso.`,
  },
  {
    title: "Coordinación previa al evento",
    parragraph: `Antes de la boda realizamos una videollamada por Zoom para coordinar todos los detalles y 
    asegurar que la ceremonia esté completamente alineada con sus deseos.`,
  },
  {
    title: "Requisitos para casarse",
    parragraph: `Solo deben enviar su identificación. Extranjeros en Costa Rica pueden usar         
  pasaporte o documento migratorio. No necesitan traer de su país, ni partida de      
  nacimiento ni de estado civil. Sí, extranjerxs pueden venir exclusivamente a        
  casarse. No necesitan otro motivo para su viaje. No necesitan residir en el         
  país ni quedarse varios días.`,
  },
  {
    title: "Experiencia y celebración personalizada",
    parragraph: `Con más de 5 años de experiencia en bodas igualitarias, en Celig ustedes 
  deciden si solo la parte civil, o acompañar ese momento con una ceremonia 
  significativa. En privado o rodeados de las personas que aman. En nuestras 
  acogedoras y elegantes oficinas o en un lugar que elijan. Lo más importantes:       
  que sea como ustedes lo sueñan.`,
  },
];
---

<section class="mb-[200px] space-y-[100px]">
  <Container
    fullWidth={false}
    customClass="space-y-[-50px] md:space-y-[-55px] title-animation"
  >
    <SectionTitle
      title="Nuestro"
      customClass="col-start-1 col-span-4 md:hidden"
    />
    <SectionTitle
      title="Proceso"
      serif={true}
      customClass="col-start-2 col-span-1 text-right md:hidden"
    />
    <div class="md:col-start-1 md:col-span-8 md:flex gap-[10px] hidden">
      <SectionTitle title="Nuestro" customClass="" />
      <SectionTitle title="Proceso" serif={true} customClass=" md:text-left" />
    </div>
    <SectionTitle
      title="Se basa en"
      customClass="col-start-1 col-span-3 text-right md:col-start-3 md:col-span-5 md:leading-[80px]"
    />
  </Container>

  <Container customClass="overflow-hidden">
    {processes.map((item, i) => <ProcesoItem {...item} index={i} />)}
  </Container>
</section>
