---
import "../styles/global.css";
import { Toaster } from "@/components/ui/sonner";
import { SideBarCMS } from "@/components/organisms/CMS/SidebarCMS.jsx";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex min-h-screen flex-col md:flex-row">
      <SideBarCMS client:only />
      <main class="flex-1 p-4 md:p-6">
        <slot />
      </main>
    </div>
    <Toaster client:only />
  </body>
</html>
