---
import WhatsApp from "@/components/atoms/WhatsApp.astro";
import "../styles/global.css";
import { Toaster } from "@/components/ui/sonner";
import Navigation from "@/components/molecules/Navigation.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/CroppedLogo.PNG" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{title}</title>
    <script src="/src/js/app"></script>
  </head>
  <body>
    <Navigation />
    <slot />
    <WhatsApp />
    <Toaster client:only />
  </body>
</html>
